.logo {
	display: flex;
	font-family: 'Fredoka One', cursive;
	padding: 0px 1vw;

}

.logo p {
	color: #FF1654;
	font-size: 6vw;
	text-shadow: 2px 2px #050517, 4px 4px 3px #247BA0;
	font-weight: bold;
	margin: 0px;
	padding: 0px .25vw;

}