@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');

body {
	background-image: url("./images/ybi4.jpeg");
  	background-repeat: no-repeat;
  	background-size: 100vw;
  	border: 1px solid #FF1654;
}
.
.App {
	
}

.zone {

}

.header {
	display: flex;
	justify-content: space-between;
	height: 6.5vw;
	/*background-image: linear-gradient(rgb(36, 123, 160, 0), rgb(181, 180, 176, .1), rgba(5, 5, 23, .5));*/
}

.nav1 {
	justify-content: flex-end;
}

.footer {
	margin: 0px;
	width: 100%;
}

